body {
    background-color: red;
    color: white;
}

#picture {
    background-image: url(../images/picture.png);
    width: 100px;
    height: 116px;
    transform: rotate(45deg);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

#nouse {
    background: red;
    color: aliceblue;
}